<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../static/css/perfil-style.css">
</head>

<body>
    <header>
        <nav>
            <div id="notif-container">
                <div id="sino">
                    <img src="../static/images/notif.png" id="notif-icon" class="icon">
                    <span id="notif-contador">1</span>
                </div>
                <div id="painel-notif" class="hidden">
                    <ul id="lista-notif">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>

        </nav>
        <hr id="linha-header">
    </header>

    <div id="container">
        <aside id="esquerda">
            <div id="perfil-wrapper">
                <img src="../static/images/cat.jfif" alt="" id="pfp">
                <p id="nome-usuario">Fulano da Silva</p>
                <p id="rm-usuario">RM: 07282</p>
            </div>

            <section id="lower-section">
                <div id="geral-wrapper" class="aside-wrapper active">
                    <img src="../static/images/perfil.png" alt="" id="geral-icon" class="aside-icon icon">
                    <a href="#" id="geral-p" class="aside-a">Geral</a>
                </div>

                <div id="saldo-pagamentos-wrapper" class="aside-wrapper">
                    <img src="../static/images/cartao.png" alt="" id="saldo-pagamentos-icon" class="aside-icon icon">
                    <a href="#" id="saldo-pagamentos-p" class="aside-a">Saldo / Pagamentos</a>
                </div>

                <div id="comprovantes-wrapper" class="aside-wrapper">
                    <img src="../static/images/comprovante.png" alt="" id="comprovantes-icon" class="aside-icon icon">
                    <a href="#" id="comprovantes-p" class="aside-a">Comprovantes</a>
                </div>

                <div id="stats-wrapper" class="aside-wrapper">
                    <img src="../static/images/stats.png" alt="" id="stats-icon" class="aside-icon icon">
                    <a href="#" id="stats-p" class="aside-a">Estatísticas</a>
                </div>

                <div id="conf-wrapper" class="aside-wrapper">
                    <img src="../static/images/conf.png" alt="" id="conf-icon" class="aside-icon icon">
                    <a href="#" id="conf-p" class="aside-a">Configurações</a>
                </div>

                <div id="sair-wrapper" class="aside-wrapper">
                    <img src="../static/images/sair.png" alt="" id="sair-icon" class="aside-icon icon">
                    <a href="#" id="sair-p" class="aside-a">Sair</a>
                </div>

                <div id="contato">
                    <p>Contate-nos: foodpaycontato@gmail.com</p>

                </div>
            </section>
        </aside>

        <div id="conteudo">
            <div id="conteudo-geral" class="conteudo-pagina ativo">
                <div id="main-content">
                    <h1 id="titulo-gerais" class="titulo-conteudo">Informações Gerais</h1>
                    <div id="foto-perfil-wrapper">
                        <img src="../static/images/cat.jfif" alt="" id="foto-perfil">
                        <button id="edit-pfp">
                            <img src="../static/images/edit.png" id="edit-icon">
                        </button>
                    </div>

                    <form action="" method="POST" id="perfil-informacoes-basicas">
                        <label for="nome-perfil" class="label-opcao">Nome de usuário</label>
                        <input type="text" id="nome-perfil" name="nome-perfil" class="perfil-inpt"
                            placeholder="Fulano da Silva" disabled>

                        <label for="rm-perfil" class="label-opcao">RM</label>
                        <input type="text" id="rm-perfil" name="rm-perfil" class="perfil-inpt" placeholder="07282"
                            disabled>

                        <label for="cod-etec-perfil" class="label-opcao">Código ETEC</label>
                        <input type="text" id="cod-etec-perfil" name="cod-etec-perfil" class="perfil-inpt"
                            placeholder="055" disabled>

                        <label for="instituicao-perfil" class="label-opcao">Instituição</label>
                        <input type="text" id="instituicao-perfil" name="instituicao-perfil" class="perfil-inpt"
                            placeholder="ETEC Prof. Eudécio Luiz Vicente" disabled>
                    </form>
                </div>
            </div>

            <div id="conteudo-saldo-pagamentos" class="conteudo-pagina">
                <div id="main-content">
                    <h1 id="titulo-saldo-pagamentos" class="titulo-conteudo">Saldo / Pagamentos</h1>
                </div>
            </div>

            <div id="conteudo-comprovantes" class="conteudo-pagina">
                <div id="main-content">
                    <h1 id="titulo-comprovantes" class="titulo-conteudo">Comprovantes</h1>
                </div>
            </div>

            <div id="conteudo-stats" class="conteudo-pagina">
                <div id="main-content">
                    <h1 id="titulo-stats" class="titulo-conteudo">Estatísticas</h1>
                </div>
            </div>

            <div id="conteudo-conf" class="conteudo-pagina">
                <div id="main-content">
                    <h1 id="titulo-conf" class="titulo-conteudo">Preferências</h1>

                    <p class="label-opcao">Modo escuro</p>
                    <label class="switch">
                        <input type="checkbox" id="modo-escuro-toggle">
                        <span class="slider round"></span>
                    </label>

                    <p class="label-opcao">Desabilitar notificações</p>
                    <label class="switch">
                        <input type="checkbox" id="notif-toggle">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div id="conteudo-sair" class="conteudo-pagina">
            </div>
        </div>

        <script src="../static/js/perfil-script.js"></script>
</body>

</html>